/* Fonts */
@font-face {
  font-family: "pixeled";
  src: url(../fonts/Pixeled.ttf);
}

@font-face {
  font-family: "dstype";
  src: url(../fonts/DSType.otf);
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dstype, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #dfdfdf;
}



/* Estilos para Navbar */

nav {
  background-color: #333331;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
}

#navbar .navbar-left, #navbar .navbar-right, #navbar #navbar-center {
  display: flex;
  align-items: center;
}

#navbar #navbar-center {
  flex-grow: 1;
  justify-content: center;
}

#navbar #navbar-center form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

#navbar #inputBusqueda {
  flex-grow: 1;
  margin-right: 10px;
}

#navbar a {
  text-decoration: none;
  color: #dfdfdf;
}

#navbar .navbar-right a {
  display: flex;
  align-items: center;
}

#navbar .navbar-right a:hover {
  color: #b77195;
}

  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;

  }


/* Estilos para Body JS*/
.subtitle {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: pixeled, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
  padding: 10px;
}

#botonesFiltros {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
#contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 15px;
}

.tarjetaProducto {
  flex: 1 1 calc(20% - 20px);
  max-width: 300px;
  box-sizing: border-box;
  background-color: bisque;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}


.tarjetaProducto video {
  width: 250px;
  height: auto;
}

.tarjetaProducto input{
    width: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid #595957;
    border-radius: 3px;
}

.tarjetaProducto:hover {
  transform: scale(1.05);
}

#contenedorCarrito {
  background-color: gray;
  border-radius: 10px;
  width: 100%;
  min-height: 100px;
  margin: 10px;
  padding: 10px;
}

#botonComprar{
  margin: 10px;
}

.tarjetaProductoCarrito {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}

h4 {
  padding: 5px;
  border: 0;
  margin: 0;
}

h6 {
  color: #595957;
  font-size: 60px;
  margin: 20px;
}

.oculto {
  display: none !important;
}

.visible {
  display: flex;
  flex-wrap: wrap;
}

.visiblecont {
  display: block;
}

/* Estilos para Footer */
footer {
  padding: 20px 0;
  margin: 20px 0 0 0;
  background-color: #333331;
  display: block;
  text-align: center;
}

footer .followus {
  text-align: center;
  color: #dfdfdf;
  font-weight: 800;
}

footer ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  color: #dfdfdf;
}

footer ul a {
  color: inherit;
  text-decoration: none;
}

footer li {
  padding-right: 10px;
  padding-right: 10px;
  text-decoration: none;
}

footer div a {
  margin: 10px;
  font-size: 24px;
}

footer i {
  text-align: center;
  color: #dfdfdf;
  left: 300px;
}

footer i:hover {
  color: #b77195;
}

footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #dfdfdf;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  footer ul {
    font-size: 12px;
  }
}